#invest {
  width: 100%;

  .body {
    max-width: 1000px;

    .header {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 0;

      .container {
        display: flex;
        justify-content: space-between;
      }

      .controls {
        display: flex;
      }
    }

    .investChart {
      margin-top: 1rem;
    }
  }

  .stats {
    margin-top: 2rem;
    margin-bottom: 1rem;

    .MuiContainer-root {
      display: flex;
      justify-content: space-between;
    }

    .MuiCard-root {
      background: black;
      color: white;
      padding: .5rem;
      font-size: 1.4rem;

      h4 {
        font-size: 1.8rem;
        margin-bottom: .5rem;
      }
    }
  }
}
