.select {
  color: white;

  label, input {
    color: white;
  }

  .MuiInput-underline {
    border-bottom: solid 1px white;
  }

  .MuiAutocomplete-endAdornment {
    button {
      color: white;
    }
  }
}
