@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/*
@font-face {
  font-family: 'cblockbold';
  src: url('assets/fonts/creabbb_-webfont.eot');
  src: url('assets/fonts/creabbb_-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/creabbb_-webfont.woff') format('woff'),
    url('assets/fonts/creabbb_-webfont.ttf') format('truetype'),
    url('assets/fonts/creabbb_-webfont.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}*/